/* Main Body Styling */
.tabs-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: #D9DBDF; */
    /* background-color: #bb99a8; */
    /* background-color: #d2b4c1; */
    box-sizing: border-box;
}

/* Styling active/inactive tabs */
.active, .inactive {
    width: 100%;
    text-decoration: none;
    padding: 20px;
    border: 1px solid #d2d2d2;
    border-bottom: none;
    /* margin: 0 2px; */
    /* border-radius: 20px 20px 0 0; */
}

.active {
    color: #BA6458;
    font-weight: bold;
    background-color: var(--bg-color);
}

.inactive {
    /* color: var(--bg-color); */
    color: black;
    /* background-color: #BA6458; */
    /* background-color: #a6a9ad; */
    background-color: #f2f2f2;
}

@media screen and (max-width: 420px) {
    .active, .inactive {
        padding: 15px 10px 10px 10px;
        font-size: .8rem;
    }
    
}