.nav-links {
    color: white;
    text-decoration: none;
}

.project-links-outer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    /* border-radius: 15px; */
}

.project-links {
    font-size: 1.5rem;
    color: #9B0761;
}

.project-home-add-link-outer {
    padding-left: 20px;
}

.project-home-add-link {
    font-weight: 700;
    color: #9B0761;
}

.quick {
    color: black;
}
.quick-outer {
    margin-right: 20px;
}