/* Across Site Styling */
:root {
    --bg-color: #ffffff;
}

body {
    margin: 0;
    background-color: var(--bg-color);
}

/* App Containers */

.app-container {
    background-color: pink;
    min-height: 100vh;
    display: flex;
    gap: 10px;
}

.header-container {
    padding:  0 20px;
    background-color: #3f2d3e;
    color: #f2f2f2;
    /* width: 300px; */
}

.body-container {
    position: relative;
    background-color: var(--bg-color);
    width: 100%;
    /* flex-grow: 5; */
}

.main-container {
    width: 100%;
    /* margin: 10px; */
}

.footer-container {
    position: absolute;
    padding: 20px;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
}