.detail-container {
    display: flex;
    /* justify-content: space-between; */
}
.detail {
    margin-bottom: 10px;
}

.img-details .img {
    width: 300px;
}

.project-details {
    /* margin: auto 20px; */
    display: flex;
    flex-direction: column;
}